{% extends "base/base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href=" {% static 'css/home.css' %} ">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

{% endblock %}
{% block content %}
    <br>
    <div class="container">
        <div class="row">
{#            <div class="col"></div>#}
            <div class="col">
                {% for post in posts %}
                    <div class="card">
                        <h5 class="card-header">Featured</h5>
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.detail }}</p>
                            <a target="_blank" rel="noopener noreferrer" href="{{ post.login_url }}" class="btn btn-primary">Go to </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
{#            <div class="col"></div>#}
        </div>
    </div>

{% endblock %}